<aside id="leftbar" class="pull-left">
				<div class="sidebar-container">
					<ul class="side-menu shadowed">
						<li><a class="active" href="" ng-click="showMain = 'main'"><i
								class="icon-home"></i>Main dashboard</a></li>
			
						<li class="submenu">
							<a href=""> <i class="icon-cog"></i>Body Measurement</a>
							<ul>
								<li>	<a href="" ng-click="showMain = 'bodyMeasurement'">Body fat/water/muscles/weight</a></li>
								<li>	<a href="">Fitness progress</a>	</li>
							</ul>
						</li>
						<li class="submenu"><a href="">
							<i class="icon-table-2"></i>Plan</a>
							<ul>
								<li><a href="" ng-click="showMain = 'myTraining'">My training</a></li>
								<li><a href="" ng-click="showMain = 'addTraining'">Add training</a></li>
								<li><a href="" ng-click="showMain = 'addExercise'">Add exercise</a></li>
							</ul>
						</li>
						<li class="submenu"><a href=""><i class="icon-copy-2"></i>Complete a workout</a>
							<ul>
								<li><a href="">Strength Training</a></li>
								<li><a href="">Running</a></li>
								<li><a href="">Swimming</a></li>
			
							</ul>
						</li>
						<li class="submenu"><a href=""><i class="icon-glass"></i>Diet</a>
							<ul>
								<li><a href="" ng-click="showMain = 'postMeal'">Post a meal</a></li>
								<li><a href="" ng-click="showMain = 'currentDiet'">Current diet</a></li>
								<li><a href="" ng-click="showMain = 'addProduct'">Add product to base</a></li>
							</ul>
						</li>
						<li><a href="" ng-click="showMain = 'fileManager'"><i class="icon-folder"></i>File Manager</a></li>
						<li><a href="" ng-click="showMain = 'calendar'"><i class="icon-calendar"></i>Calendar</a></li>
						<li class="submenu"><a href=""><i class="icon-camera"></i>Gallery</a>
							<ul>
								<li><a href="">Photo</a></li>
								<li><a href="">Movie</a></li>
			
							</ul>
						</li>
			
					</ul>
				</div>
				<span id="leftbar-toggle" class="visible-xs sidebar-toggle"> 
						<i class="icon-angle-right"></i>
				</span>
			</aside>
